<launch>

	<node pkg="mms" type="mms" name="mms" output="screen">
	</node>
	
	<include file="$(find cmd_verifier)/launch/node.launch">
	</include>
	<include file="$(find frame)/launch/node.launch">
	</include>
	<include file="$(find pos_mixer)/launch/node.launch">
	</include>
	<include file="$(find reference)/launch/node.launch">
	</include>
	
</launch>
