<launch>

	<arg name="uav_sim_camera.yaml" value="$(find uav_sim)/launch/uav_sim_camera.yaml" />
	<node pkg="uav_sim" type="uav_sim" name="uav_sim" output="screen">
		<rosparam command="load" file="$(arg uav_sim_camera.yaml)" />
	</node>
	<include file="$(find guidance_node_amsl)/launch/node.launch">
	</include>
	<include file="$(find mavros)/launch/unibo_GCS.launch">
	</include>
	
</launch>
